@import 'common';

/*products section styles*/
.product-card {
  display: flex;
  min-height: 250px;
  flex: 0 0 50%;
  flex-flow: column wrap;
  justify-content: space-between;
  border: 1px solid $background-grey;
  padding: 25px 25px;
  border-top: none;
  border-right: none;
  cursor: pointer;
  transition: $bazier-curve;
  &:hover {
    box-shadow: 0 5px 15px $background-grey;
  }
  @media screen and (min-width: 768px) {
    flex: 0 0 33.33%;
    min-height: 280px;
    &:last-child {
      border-right: 1px solid $background-grey;
    }
  }

  @media screen and (min-width: 992px) {
    flex: 0 0 25%;
    min-height: 300px;
    &:nth-child(4n) {
      border-right: 1px solid $background-grey;
    }
  }

  h1 {
    font-size: 12px;
    margin: 0;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  section {
    position: relative;
  }

  .product-img {
    flex-grow: 4;
    display: flex;
    align-items: center;

    img {
      height: 100px;
      margin: 0 auto;
      @media screen and (min-width: 768px) {
        height: 120px;
      }
    }
  }

  .tag, .price {
    font-family: $font-stack-oswald;
    font-weight: bold;
  }

  .price {
    &.slashed {
      position: absolute;
      right: 0;
      bottom: 3px;
      font-size: 12px;
      color: #868686;
      text-decoration: line-through;
    }
  }
  .tag {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 3px;
    position: relative;
    font-size: 8px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 5px;
    color: $white;

    @media screen and (min-width: 768px)  {
      padding: 2px 10px;
      font-size: 10px;
      bottom: 3px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 11px;
      height: 12px;
      transform: rotate(45deg);
      position: absolute;
      right: -5px;
      top: 2px;
      z-index: -1;
      @media screen and (min-width: 768px)   {
        width: 13px;
        height: 13px;
        right: -6px;
        top: 3px;
      }
    }

    &.yellow, &.yellow:after {
      background: $yellow;
    }
    &.red, &.red:after {
      background: $red;
    }
    &.green, &.green:after {
      background: $green;
    }
  }

  &.non-product {
    cursor: auto;
    transition: $bazier-curve;
    &:hover {
      box-shadow: none;
    }
    span.diamond {
      margin: 0 auto;
      display: inline-block;
      width: 24px;
      height: 24px;
      background: transparent url('../assets/diamond.png') center center no-repeat;
      background-size: contain;
    }
    h1 {
      font-family: $font-stack-oswald;
      font-weight: bold;
      color: $primary-color;
      font-size: 20px;
      text-transform: uppercase;
    }

    p {
      font-size: 14px;
    }

    @media screen and (min-width: 768px)  {
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
