@import 'common';

/*hero section styles*/
.hero-section {
  background: $background-grey;
  height: 200px;
  overflow: hidden;

  .active-slide {
    flex: 1 100%;
    height: 200px;
    background: $body-color-md;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    img {
      max-width: 100%;
      transition: $bazier-curve;
      &:hover {
        transform: scale(1.05);
      }
    }

    .controls {
      display: inline-block;
      width: 50px;
      height: 50px;
      background: $white-variant;
      border-radius: 50%;
      position: absolute;
      background: $white-variant url('../assets/caret-symbol.png') center center no-repeat;
      top: 50%;
      margin-top: -25px;
      z-index: 1;

      &.next {
        transform: rotate(90deg);
        right: 15px;
        box-shadow: 5px 0px 10px rgba(0,0,0, 0.5);
      }
      &.prev {
        transform: rotate(-90deg);
        left: 15px;
        box-shadow: -5px 0px 10px rgba(0,0,0, 0.5);
      }
    }
  }
  .slides-container {
    display: none;
  }

  @media screen and (min-width: 768px) {
    height: 400px;
    .active-slide {
      flex: 0 0 80%;
      height: 400px;
    }
    .slides-container {
      display: block;
      flex: 1 0 20%;

      .siderbar-item {
        height: 100px;
        background: $body-color-lt;
        overflow: hidden;
        cursor: pointer;
        position: relative;

        img {
          max-width: 100%;
          transition: $bazier-curve;
          &:hover {
            transform: scale(1.05);
          }
        }

        &.active-slide{
          border-left: 10px solid $primary-color;
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: $white;
            opacity: 0.5;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    height: 500px;
    .active-slide {
      height: 500px;
    }
    .slides-container .siderbar-item {
      height: 125px;
    }
  }
}
